<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# greatcirclemedia: http://ogp.me/ns/fb/greatcirclemedia#" >
<head>
<title>My Basketball Trick Shot Video Entry to Win VIP Tickets to the Harlem Globetrotters in Prescott on Feb 6, 2014</title>
<meta name="description" content="Please vote for my basketball trick shot video entry so I can win VIP Tickets to the Harlem Globetrotters in Prescott on Feb 6, 2014"</meta>
<meta property="og:site_name" content="http://gcmaz.com" />
<meta property="fb:admins" content="100003228578475" />
<meta property="fb:app_id" content="651824251537122" />
<meta property="og:type" content="greatcirclemedia:contest" />
<meta property="og:image" content="http://www.gcmaz.com{{ asset('images/splash/hg-top.jpg') }}"/>
<meta property="og:url" content="http://www.gcmaz.com{{ path('gcm_contest', {'contest': 'trick-shot-entry'}) }}/{{id}}"/>
<meta property="og:title" content="My Basketball Trick Shot Video Entry to Win VIP Tickets to the Harlem Globetrotters in Prescott on Feb 6, 2014"/> 
<meta property="og:description" content="Please vote for my basketball trick shot video entry so I can win VIP Tickets to the Harlem Globetrotters in Prescott on Feb 6, 2014"/>
<meta name="keywords" content="harlem globetrotters, prescott, az, trick shot, win tickets" />
<meta charset="UTF-8" />
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47756322-1', 'gcmaz.com');
  ga('send', 'pageview');
  </script>
</head>
<body class="centered">
    <p>http://kaff.gcmaz.com{{ path('gcm_contest', {'contest': 'trick-shot-entry'}) }}/{{id}}</p>
    <div class="fb-like" data-href="http://www.gcmaz.com{{ path('gcm_contest', {'contest':'trick-shot-entry'}) }}/{{id}}" colorscheme="dark" data-send="true" data-width="300" data-show-faces="true" data-font="arial" style="margin-left:-10px;"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=651824251537122";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
