{% extends 'GcmazMainBundle::layout2.html.twig' %}

{% block content %}
    <div class="splash arial">
        <a href="http://asualumni.org/s/1469/alumni/index.aspx?sid=1469&gid=3&pgid=3342&content_id=3877" target="_blank">
            <img src="{{asset('images/splash/pats-run-flagstaff.jpg')}}" width="660" height="450" alt="Pat's Run Flagstaff Shadow Run" class="img-responsive centered" style="margin-bottom:20px"/>
        </a>
        <section style="float:left;width:50%">
            <p>
                On April 26, Pat Tillman Foundation and ASU Alumni Association will hold Shadow Runs nationwide.
                You can Run/Walk and raise money to support <a href="http://pattillmanfoundation.org/scholars">Tillman Military Scholars</a>, the same as you would in Tempe. Shadow Runs will bolster our fundraising efforts. So if you can’t make the big Tempe event, we’d love you to join a Shadow Run with others who are passionate about our mission. Note: The deadline has passed for scheduling 2014 Shadow Runs. Please contact the ASU Alumni Association to schedule a future Shadow Run in your community.
            </p>
        </section>
        <section style="width:50%;float:right;">
            <p style="font-size:1.2em;color:#c00;">
                Flagstaff Shadow Run
            </p>
            <p style="font-size:1.2em">
                Saturday April 26th<br/>
                Continental Country Club, 2380 N Oakmont Drive, Flagstaff, AZ
            </p>
            <p style="font-size:1em">
                8:00 am Registration<br/>
                8:30 am 4.2 Mile walk/run<br/>
                10:00 am Party!
            </p>
            <p>
                <a href="http://asualumni.org/s/1469/alumni/index.aspx?sid=1469&gid=3&pgid=3342&content_id=3877" target="_blank">Register Now &raquo;</a>
            </p>
            <p>
                Shadow Run Captain:<br/>
                <a href="mailto:FlagstaffPatsRun@gmail.com">Megan Remington</a>
            </p>
        </section>
        <br class="clear"/>
    </div>
{% endblock %}

{% block layout2_rightcol %}
    <a href="http://kaff.gcmaz.com" target="_blank">
        <img src="{{asset('images/flagstaff-radio-kaff-country.jpg')}}" width="167" height="auto" alt="Flagstaff Radio - KAFF Country 92.9" class="centered img-responsive"/>
    </a>
    <a href="http://939themountain.gcmaz.com" target="_blank">
        <img src="{{asset('images/flagstaff-radio-the-mountain.jpg')}}" width="116" height="auto" alt="Flagstaff Radio - 93.9 The Mountain" class="centered img-responsive"/>
    </a>
    <a href="http://country935.gcmaz.com" target="_blank">
        <img src="{{asset('images/flagstaff-radio-country-93-5.jpg')}}" width="120" height="auto" alt="Flagstaff Radio - Flagstaff Country 93-5" class="centered img-responsive">
    </a>
    <a href="http://hits106.gcmaz.com" target="_blank">
        <img src="{{asset('images/flagstaff-radio-hits-106.jpg')}}" width="120" height="auto" alt="Flagstaff Radio - Hits 106" class="centered img-responsive">
    </a>
    <a href="http://azcentralcu.pwlanding.com/022/" target="_blank">
        <img src="{{asset('images/sponsors/az-central-credit-union.png')}}" width="170" height="auto" alt="Arizona Central Credit Union" class="centered img-responsive">
    </a>
{% endblock %}