{% extends '::base.html.twig' %}

{% block title %}Great Circle Media Arizona{% endblock %}

{% block description %}
    <meta name="description" content="Great Circle Media Arizona" />
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Great Circle Media, Great Circle Radio"  />
{% endblock %}
    
{% block favicons %}
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('favicon.png') }}">
    <!--[if IE]><link rel="shortcut icon" href="{{ asset('favicon.ico') }}"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#4c4c4c">
    <meta name="msapplication-TileImage" content="{{ asset('favicon.png') }}">
{% endblock %}
    
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
{% endblock %}
    
{% block ie_crap %}
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {filter: none;}
  </style>
<![endif]-->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
    
{% block analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38877504-1']);
        _gaq.push(['_setDomainName', 'gcmaz.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
{% endblock %}
      
{% block leftcol_logo %}
        <div class="logo_box">
            <a href="{{ path('gcm_homepage') }}"><img src="{{ asset('images/logo-gcmaz.png') }}" width="300" height="108" alt="Great Circle Media Arizona" ></a>
        </div>
{% endblock %}

{% block content %}
      
     <div style="margin:20px auto;" class="centered">
    {# below taken from FOSUserBundle::layout.html.twig #} 
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
    {# end #}
    </div>
    
{% endblock %}
        
{% block footer %}
    <div id="ftr">
        <div id="ftr-gcm">
            <a href="/"><img src="{{ asset('images/ftr-gcmaz-logo.png') }}" width="167" height="70" alt="Great Circle Media Arizona" style="padding-top:4px;"/></a>
            <p style="color:#c7d1e1;font-size:12px;font-weight:bold;padding:0;margin:2px auto 0;">
                Great Circle Media
            </p>
            <p style="color:#79818b;font-size:10px;font-weight:bold;padding:0;margin:2px auto;line-height:1.1;">
                    &copy; GuyAnn Corporation<br/>All Rights Reserved
            </p>
            <p style="padding:0;margin:2px auto;font-weight:bold;font-size:10px;color:#79818b;">
                <a href="{{path('gcm_homepage')}}admin/dashboard" style="color:#79818b;text-decoration:none;">Login &raquo;</a>
                &nbsp; | &nbsp;
                <a href="http://www.gcmaz.com/legal/eeo.pdf" target="_blank"  style="color:#79818b;text-decoration:none;">EEO</a>
            </p>
        </div>
    </div>
    <br class="clear" />
{% endblock %}

{% block js_btm %}
    <script type="text/javascript" src="{{ asset('scripts/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript">
        //move footer down
        $h_win = $(document).height();
        $h_ftr = $('#footer').height();
        $hbg = $h_win - $h_ftr + "px";
        $('.bgtile').css('height', $hbg);
    </script>
{% endblock %}