{% extends 'GcmazMainBundle::layout.html.twig' %}
    
{% block content %}
    <div class="gcm">
        <div style="font-weight:bold;font-size:14px;color:#333;margin:10px auto;" class="centered">
            <p style="text-align:left;margin:20px;width:90%;float:left;line-height:1.3;font-size:1.3em;">
                Great Circle Media serves Flagstaff, Prescott, Sedona, and<br/>all of Northern Arizona with today's Best Radio Stations
           </p>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://kaff.gcmaz.com"><img src="{{asset('images/flagstaff-radio-kaff-country.jpg')}}" width="167" height="86" alt="Flagstaff Radio - KAFF Country 92.9" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="javascript:void(window.open('http://player.tritondigital.com/8051', 'KAFFFM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://kaff.gcmaz.com" style="color:#333399;font-weight:bold;">KAFF Country 92.9</a><br/>
                <a href="http://kaff.gcmaz.com">Country Music Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Northern Arizona - Flagstaff - Prescott - Sedona - Williams</span><br/>
                <a href="http://kaff.gcmaz.com/contact/country-radio/92-9"  style="color:#666;font-size:11px;font-weight:bold;">Contact 92.9 KAFF &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://939themountain.gcmaz.com"><img src="{{asset('images/flagstaff-radio-the-mountain.jpg')}}" width="116" height="100" alt="Flagstaff Radio - 93.9 The Mountain" align="left" /></a>
            </div>
            <div class="gcm-rt">
                                <a href="javascript:void(window.open('http://player.tritondigital.com/8061', 'KMGNFM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://939themountain.gcmaz.com" style="color:#333399;font-weight:bold;">93-9 The Mountain</a><br/>
                <a href="http://939themountain.gcmaz.com">Classic Rock Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Northern Arizona - Flagstaff - Prescott - Sedona - Williams</span><br/>
                <a href="http://939themountain.gcmaz.com/contact/rock-radio/93-9"  style="color:#666;font-size:11px;font-weight:bold;">Contact 93-9 The Mountain &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://hits1061.gcmaz.com"><img src="{{asset('images/flagstaff-radio-hits-106.jpg')}}" width="130" height="97" alt="Flagstaff Radio - Hits 106" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="javascript:void(window.open('http://player.tritondigital.com/14981', 'KFSZFM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://hits1061.gcmaz.com" style="color:#333399;font-weight:bold;">Hits 106</a><br/>
                <a href="http://hits1061.gcmaz.com">All The Hits - Contemporary Hit Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Flagstaff, Arizona</span><br/>
                <a href="http://hits106.gcmaz.com/contact/flagstaff-radio/hits-106"  style="color:#666;font-size:11px;font-weight:bold;">Contact Hits 106 &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://country935.gcmaz.com"><img src="{{asset('images/flagstaff-radio-country-93-5.jpg')}}" width="128" height="92" alt="Flagstaff Radio - 93-5 Flagstaff Country" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="javascript:void(window.open('http://player.tritondigital.com/8041', 'KAFFAM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://country935.gcmaz.com" style="color:#333399;font-weight:bold;">Flagstaff Country 93-5 / AM 930</a><br/>
                <a href="http://country935.gcmaz.com">Classic and Outlaw Country Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Flagstaff, Arizona</span><br/>
                <a href="http://country935.gcmaz.com/contact/flagstaff-radio/country-93-5"  style="color:#666;font-size:11px;font-weight:bold;">Contact Flagstaff Country &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://magic991.gcmaz.com"><img src="{{asset('images/prescott-radio-magic.jpg')}}" width="156" height="82" alt="Prescott Radio - Magic 99.1" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="javascript:void(window.open('http://player.tritondigital.com/8071', 'KTMGFM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://magic991.gcmaz.com" style="color:#333399;font-weight:bold;">Magic 99.1</a><br/>
                <a href="http://magic991.gcmaz.com">90s, 2k and Today</a><br/>
                <a href="http://magic991.gcmaz.com">Adult Contemporary Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Prescott, Arizona</span><br/>
                <a href="http://magic991.gcmaz.com/contact/prescott/radio/99-1"  style="color:#666;font-size:11px;font-weight:bold;">Contact Magic 99.1 &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://funoldies.gcmaz.com"><img src="{{asset('images/prescott-radio-oldies.jpg')}}" width="125" height="95" alt="Prescott Radio - Fun Oldies" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="javascript:void(window.open('http://player.tritondigital.com/14991', 'KNOTAM', 'width=800,height=600'));" class="listen-btn dropshadow textshadow oswald">Listen &raquo;</a>
                <a href="http://funoldies.gcmaz.com" style="color:#333399;font-weight:bold;">Fun Oldies 100.9 / 1450am</a><br/>
                <a href="http://funoldies.gcmaz.com">Cruisin Thru The 60's - Oldies Radio Station</a><br/>
                <span style="color:#666;font-size:11px;">Prescott, Arizona</span><br/>
                <a href="http://funoldies.gcmaz.com/contact/prescott/radio/oldies"  style="color:#666;font-size:11px;font-weight:bold;">Contact Fun Oldies &raquo;</a><br/>
            </div>
        </div>
        <div class="gcm-spacer centered"></div>
        <div class="gcm-row">
            <div class="gcm-lft">
                <a href="http://www.nazpreferred.com"><img src="{{asset('images/northern-arizona-businesses.jpg')}}" width="152" height="58" alt="Northern Arizona Businesses" align="left" /></a>
            </div>
            <div class="gcm-rt">
                <a href="http://www.nazpreferred.com" style="color:#333399;font-weight:bold;">Northern Arizona Preferred</a><br/>
                <a href="http://www.nazpreferred.com">Arizona's Preferred Business Directory</a><br/>
                <span style="color:#666;font-size:11px;">Northern Arizona - Flagstaff - Prescott - Sedona - Williams</span><br/>
                <a href="http://www.nazpreferred.com/contact-naz-preferred.php"  style="color:#666;font-size:11px;font-weight:bold;">Contact Northern Arizona Preferred &raquo;</a><br/><br/>
            </div>
        </div>
        <br class="clear" />
    </div>
{% endblock %}